/* the game canvas */

* {
	font-family: "Lato", "Arial";
}

#gameCanvas {
	border: 1px solid black;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
